# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
recompassfrontend/recompassext/node_modules
recompassmodel/node_modules

# testing
recompassfrontend/recompassext/coverage

# production
recompassfrontend/recompassext/build

# zip
recompassfrontend/recompassext/zip

# misc
recompassfrontend/recompassext/.DS_Store
recompassfrontend/recompassext/.env.local
recompassfrontend/recompassext/.env.development.local
recompassfrontend/recompassext/.env.test.local
recompassfrontend/recompassext/.env.production.local
recompassfrontend/recompassext/.history
recompassmodel/.next

# secrets
recompassfrontend/recompassext/secrets.*.js
